<div class="container-fluid d-flex flex-column">
  <img
    class="recipe-img"
    [src]="detailedRecipe.image"
    alt=""
    *ngIf="detailedRecipe.image"
  />
  <section class="information">
    <h1>{{ detailedRecipe.name }}</h1>
    <p>Time to make: {{ detailedRecipe.prepTimeInMinutes }} minutes</p>
    <a [href]="detailedRecipe.sourceUrl">Source</a>
    <p [innerHTML]="detailedRecipe.summary"></p>
    <h2 class="sublist">Ingredients:</h2>
    <ul>
      <li *ngFor="let item of detailedRecipe.ingredients">
        {{ item.original }}
      </li>
    </ul>
    <h2 class="sublist">Instructions:</h2>
    <ol>
      <li *ngFor="let item of detailedRecipe.instructions">{{ item }}</li>
    </ol>
    <h2 class="sublist">Nutrition:</h2>
    <ul>
      <li>Calories: {{ detailedRecipe.calories }} kcal</li>
      <li>Total Fat: {{ detailedRecipe.fat }}g</li>
      <li>Cholesterol: {{ detailedRecipe.cholesterol }}g</li>
      <li>Sodium: {{ detailedRecipe.sodium }}g</li>
      <li>Total Carbohydrate: {{ detailedRecipe.carbohydrates }}g</li>
      <li>Total Sugars: {{ detailedRecipe.sugar }}g</li>
      <li>Protein: {{ detailedRecipe.protein }}g</li>
    </ul>
  </section>
</div>
