@import "~bootstrap/scss/bootstrap";

$headerHeight: 100vw;

.header {
  background-color: #f1eeee;
  display: flex;

  height: 7vh;
  width: 100vw;

  position: fixed;
}

.circle {
  position: relative;
  top: 30%;
  right: 4%;
  height: 100%;
  width: 7vh;

  border-radius: 100%;

  background-color: #f1eeee;
}

.navbar {
  padding: 0;

  &-toggler {
    aspect-ratio: 1.25/1;
  }
}

.side-link {
  @include font-size(1.5rem);
}

.offcanvas {
  max-width: 50vw;
}

.container-fluid {
  padding-right: 0.25rem;
}

.header-container {
  padding: 0.8rem 0.8rem;
}
