@import "~bootstrap/scss/bootstrap";

$headerHeight: 100vw;

.header {
  background-color: #f1eeee;
  display: flex;

  height: 7vh;
  width: 100vw;

  position: fixed;
}

.circle {
  position: relative;
  top: 2rem;
  right: 1.5rem;
  width: 2rem;
  aspect-ratio: 1/1;

  border-radius: 100%;

  background-color: $light;
}

.navbar {
  padding: 0;

  &-toggler {
    aspect-ratio: 1.25/1;

    &:focus,
    &:active {
      box-shadow: none;
    }
  }
}

.side-link {
  @include font-size(1.5rem);
}

.offcanvas {
  max-width: 50vw;
}

.container-fluid {
  padding-right: 0.25rem;
}

.header-container {
  padding: 0.8rem 0.8rem;
}
