.card-img {
  aspect-ratio: 16/9;
}

.card-img-overlay {
  background-image: linear-gradient(
    to right,
    hsla(0, 0%, 0%, 0.5),
    hsla(0, 100%, 50%, 0)
  );

  @media (max-width: 600px) {
    padding: 0.25rem;
  }
}

.title-wrapper {
  border-radius: 1rem;
  padding: 0 0.25rem;
  width: fit-content;
  font-weight: bold;
  font-size: 14px;

  @media (min-width: 600px) {
    font-size: 1.5rem;
  }
}
