@import "~/src/styles.scss";
.home-page {
  height: 95vh;

  .current-content {
    background-color: $brand-color;
    color: white;
    width: 100vw;
    margin-bottom: 2rem;
  }

  .secondary-content {
    // height: 68.5%;
    width: 100%;
    background-color: #dad9d9;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }

  .subheading {
    margin: 1rem;

    @media (min-width: 768px) {
      margin-top: 7rem;
    }
  }
}
