<main class="home-page d-flex flex-column">
  <div class="current-content container-fluid p-2">
    <h1 class="ps-4 pt-3 fw-bolder text-light">Hi, {{ userName }}</h1>
    <app-meal-carousel></app-meal-carousel>
  </div>
  <div class="secondary-content" *ngFor="let meal of savedMeals$ | async">
    {{ meal.name }}
  </div>
  <ng-container *ngFor="let name of collectionNames">
    <div
      class="headings-wrapper d-flex justify-content-between align-items-center"
    >
      <h2 class="subheading fw-bold">{{ name | delimiterToTitle }}</h2>
      <p class="see-all fw-bold">See all</p>
    </div>
    <app-slider-container [collectionName]="name"></app-slider-container>
  </ng-container>
</main>

<div class="circle"></div>
