@import "~/src/styles.scss";

.form-control {
  &:focus {
    border-color: $custom-primary;
    border-width: 1px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  }
}

.icon {
  color: $form-text-color;
  float: left;
  margin-left: 1rem;
  margin-top: -31px;
  position: relative;
  z-index: 2;
}

.input-group-lg > .icon {
  margin-top: -2.25rem;
}
