@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$primary-light: #fff;
$secondary-light: #2c2c2c;
$brand-color: hsl(162, 80%, 39%);
$highlight: hsl(40, 70%, 49%);
$btn-close-color: $danger;

$theme-colors: (
  "primary-light": $primary-light,
  "secondary-light": $secondary-light,
  "brand-color": $brand-color,
);

/* Importing Bootstrap SCSS file. */

$body-bg: hsl(0, 10%, 90%);
// $theme-colors: map-merge($theme-colors, $theme-colors);

@import "~bootstrap/scss/bootstrap";
// @import "./custom-styles.scss";

body {
  background-color: $body-bg;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
