@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$primary-light: #f1eeee;
$secondary-light: #2c2c2c;
$brand-color: #14b584;

$theme-colors: (
  "primary-light": $primary-light,
  "secondary-light": $secondary-light,
  "brand-color": $brand-color,
);

/* Importing Bootstrap SCSS file. */

$body-bg: #dad9d9;
// $theme-colors: map-merge($theme-colors, $theme-colors);

@import "~bootstrap/scss/bootstrap";
// @import "./custom-styles.scss";

body {
  background-color: $body-bg;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.form-control {
  &:focus {
    border-color: $brand-color;
  }
}
