@import "src/styles.scss";

@mixin card-shadow {
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.meal-group {
  position: relative;

  transform: translateY(4rem);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  visibility: hidden;
}

ngb-carousel {
  padding-bottom: 2rem;
}

.carousel-inner {
  padding-bottom: 2rem !important;
}

.current-meal-card {
  @include card-shadow;
  height: 24vh;
  width: 90%;
  background-color: $body-bg;

  color: black;
  border-radius: 1.5rem;
}

.actions {
  background-color: #fff;
  padding: 0.25rem 1rem;
  border-radius: 1rem;

  @media (min-width: 992px) {
    background-color: $gray-400;
  }
}

.trash {
  cursor: pointer;
  flex: 0 0 auto;
  color: $custom-heading-color;
  transition: 100ms all ease-in-out;
  &:hover {
    color: $custom-danger;
  }

  &-lg {
    color: #fff;
  }
}
